@charset "utf-8";

/* RESET */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset,
img {
	border: 0;
}
img {
	vertical-align: top;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
	font-style: normal;
	font-weight: normal;
}
li {
	list-style: none;
}
caption,
th {
	text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before,
q:after {
	content: "";
}
abbr,
acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input,
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
input,
select {
	vertical-align: middle;
}
legend {
	color: #000;
}
p,
th,
td {
	line-height: 160%;
}
body {
	font-size: 14px;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", Osaka, Arial, Helvetica;
	color: #000000;
	overflow-x: hidden;
}
a:link {
	color: #00376e;
	text-decoration: underline;
}
a:visited {
	color: #00376e;
	text-decoration: underline;
}
a:hover {
	color: #00376e;
	text-decoration: none;
}
a:focus {
	color: #00376e;
	text-decoration: none;
}
a {
	outline: none;
}

/*HTML5*/
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

/* CLASS  */

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child + html .clearfix {
	zoom: 1;
} /* IE7 */

/* margin & padding */
.mt02 {
	margin-top: 2px !important;
}
.mt05 {
	margin-top: 5px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt12 {
	margin-top: 12px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt35 {
	margin-top: 35px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt45 {
	margin-top: 45px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mt55 {
	margin-top: 55px !important;
}
.mt60 {
	margin-top: 60px !important;
}
.mt65 {
	margin-top: 65px !important;
}
.mt70 {
	margin-top: 70px !important;
}
.mt80 {
	margin-top: 80px !important;
}
.mr02 {
	margin-right: 2px !important;
}
.mr05 {
	margin-right: 5px !important;
}
.mr10 {
	margin-right: 10px !important;
}
.mr12 {
	margin-right: 12px !important;
}
.mr15 {
	margin-right: 15px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.mr25 {
	margin-right: 25px !important;
}
.mr30 {
	margin-right: 30px !important;
}
.mr35 {
	margin-right: 35px !important;
}
.mr40 {
	margin-right: 40px !important;
}
.mr45 {
	margin-right: 45px !important;
}
.mr50 {
	margin-right: 50px !important;
}
.mr55 {
	margin-right: 55px !important;
}
.mr60 {
	margin-right: 60px !important;
}
.mr65 {
	margin-right: 65px !important;
}
.mr70 {
	margin-right: 70px !important;
}
.mr80 {
	margin-right: 80px !important;
}
.mb02 {
	margin-bottom: 2px !important;
}
.mb05 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb12 {
	margin-bottom: 12px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb35 {
	margin-bottom: 35px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb45 {
	margin-bottom: 45px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mb55 {
	margin-bottom: 55px !important;
}
.mb60 {
	margin-bottom: 60px !important;
}
.mb65 {
	margin-bottom: 65px !important;
}
.mb70 {
	margin-bottom: 70px !important;
}
.mb80 {
	margin-bottom: 80px !important;
}
.ml02 {
	margin-left: 2px !important;
}
.ml05 {
	margin-left: 5px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml12 {
	margin-left: 12px !important;
}
.ml15 {
	margin-left: 15px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml25 {
	margin-left: 25px !important;
}
.ml30 {
	margin-left: 30px !important;
}
.ml35 {
	margin-left: 35px !important;
}
.ml40 {
	margin-left: 40px !important;
}
.ml45 {
	margin-left: 45px !important;
}
.ml50 {
	margin-left: 50px !important;
}
.ml55 {
	margin-left: 55px !important;
}
.ml60 {
	margin-left: 60px !important;
}
.ml65 {
	margin-left: 65px !important;
}
.ml70 {
	margin-left: 70px !important;
}
.ml80 {
	margin-left: 80px !important;
}
.pt02 {
	padding-top: 2px !important;
}
.pt05 {
	padding-top: 5px !important;
}
.pt10 {
	padding-top: 10px !important;
}
.pt12 {
	padding-top: 12px !important;
}
.pt15 {
	padding-top: 15px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt25 {
	padding-top: 25px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pt35 {
	padding-top: 35px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt45 {
	padding-top: 45px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pt55 {
	padding-top: 55px !important;
}
.pt60 {
	padding-top: 60px !important;
}
.pt65 {
	padding-top: 65px !important;
}
.pt70 {
	padding-top: 70px !important;
}
.pt80 {
	padding-top: 80px !important;
}
.pr02 {
	padding-right: 2px !important;
}
.pr05 {
	padding-right: 5px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pr12 {
	padding-right: 12px !important;
}
.pr15 {
	padding-right: 15px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pr25 {
	padding-right: 25px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr35 {
	padding-right: 35px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pt45 {
	padding-right: 45px !important;
}
.pr50 {
	padding-right: 50px !important;
}
.pr55 {
	padding-right: 55px !important;
}
.pr60 {
	padding-right: 60px !important;
}
.pr65 {
	padding-right: 65px !important;
}
.pr70 {
	padding-right: 70px !important;
}
.pr80 {
	padding-right: 80px !important;
}
.pb02 {
	padding-bottom: 2px !important;
}
.pb05 {
	padding-bottom: 5px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pb12 {
	padding-bottom: 12px !important;
}
.pb15 {
	padding-bottom: 15px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pb25 {
	padding-bottom: 25px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pb35 {
	padding-bottom: 35px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pb45 {
	padding-bottom: 45px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
.pb55 {
	padding-bottom: 55px !important;
}
.pb60 {
	padding-bottom: 60px !important;
}
.pb65 {
	padding-bottom: 65px !important;
}
.pb70 {
	padding-bottom: 70px !important;
}
.pb80 {
	padding-bottom: 80px !important;
}
.pl02 {
	padding-left: 2px !important;
}
.pl05 {
	padding-left: 5px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pl12 {
	padding-left: 12px !important;
}
.pl15 {
	padding-left: 15px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pl25 {
	padding-left: 25px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pl35 {
	padding-left: 35px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pl45 {
	padding-left: 45px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.pl55 {
	padding-left: 55px !important;
}
.pl60 {
	padding-left: 60px !important;
}
.pl65 {
	padding-left: 65px !important;
}
.pl70 {
	padding-left: 70px !important;
}
.pl80 {
	padding-left: 80px !important;
}

.fleft {
	float: left;
}
.fright {
	float: right;
}
.hr {
	clear: both;
	font-size: 0px;
	height: 1%;
}
.hr hr {
	display: none;
}

.txtCenter {
	text-align: center !important;
}
.txtLeft {
	text-align: left !important;
}
.txtRight {
	text-align: right !important;
}

.vTop {
	vertical-align: top !important;
}
.vBtm {
	vertical-align: bottom !important;
}
.vMid {
	vertical-align: middle !important;
}

.fn {
	font-weight: normal !important;
}
.fb {
	font-weight: bold !important;
}
.list01 {
	margin: 0 1em 0 1.5em;
}
.list01 li {
	line-height: 140%;
	margin-bottom: 0.3em;
}
ol.list01 li {
	list-style: decimal outside;
}
ul.list01 li {
	list-style: disc outside;
}
.list01 ul {
	margin: 0 0 1em 0;
}
.list01 ul li {
	list-style: none;
	padding-left: 1rem;
	position: relative;
}
.list01 ul li::after {
	content: "・";
	position: absolute;
	top: 0;
	left: 0;
}

/*hover*/
.op6 a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha(opacity=60)";
}
.op5 a:hover img {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter: "alpha(opacity=50)";
}

/* LAYOUT  */

.inner {
	background: #ffffff;
	padding: 35px 30px 60px 20px;
}
.mi1 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 30px;
}
.mi2 {
	font-weight: bold;
	margin-bottom: 20px;
	padding-left: 1em;
	border-left: 3px solid #cccccc;
}

.tbl1 th,
.tbl1 td {
	padding: 5px 10px;
	border-bottom: 1px solid #cccccc;
	border-right: 1px dotted #cccccc;
}
.tbl1 th:last-child,
.tbl1 td:last-child {
	border-right: 0;
}
.tbl1 th {
	text-align: center;
	background: #fcfcfc;
}
.tbl1 caption {
	margin-bottom: 5px;
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 1100px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url(../images/bg1100_1.jpg);
	z-index: 0;
	visibility: hidden;
}

#wrapper {
	width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	z-index: 10;
}
#navi {
	width: 270px;
	padding: 43px 30px 0 0;
	background: #ffffff;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -490px;
}
#navi #logo {
	background: url(../images/navi_logo.gif) no-repeat 0 0;
	height: 25px;
	margin-bottom: 50px;
	display: block;
	text-indent: -9999px;
}
#navi a {
	display: block;
	text-indent: -9999px;
}
#navi #gnavi {
	margin-bottom: 30px;
}
#navi #gnavi span,
#navi #gnavi a {
	background-repeat: no-repeat;
	background-position: 0 50%;
	height: 50px;
}
#navi #gnavi a {
	position: relative;
}
#navi #gnavi_about a {
	background-image: url(../images/gnavi_about.gif);
}
#navi #gnavi_activities a {
	background-image: url(../images/gnavi_activities.gif);
}
#navi #gnavi_emergency a {
	background-image: url(../images/gnavi_emergency.gif);
}
#navi #gnavi_members a {
	background-image: url(../images/gnavi_members.gif);
}
#navi #gnavi span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	text-indent: -9999px;
	width: 0;
}
#navi #gnavi_about span {
	background-image: url(../images/gnavi_about_over.gif);
}
#navi #gnavi_activities span {
	background-image: url(../images/gnavi_activities_over.gif);
}
#navi #gnavi_emergency span {
	background-image: url(../images/gnavi_emergency_over.gif);
}
#navi #gnavi_members span {
	background-image: url(../images/gnavi_members_over.gif);
}
#navi #navi_bn {
	margin-bottom: 30px;
}
#navi #navi_bn li {
	margin-bottom: 10px;
}
#navi #navi_bn a {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 54px;
}
#navi #navi_bn a:hover {
	background-position: 0 -54px;
}
#navi #navi_bn_entry a {
	background-image: url(../images/navi_bn_entry.gif);
}
#navi #navi_bn_fb a {
	background-image: url(../images/navi_bn_fb.gif);
}

#navi #navi_bn_gw {
	margin-bottom: 10px;
}
#navi #navi_bn_gw a {
	background-image: url(../images/navi_bn_gw.png);
	background-repeat: no-repeat;
	background-position: center 0;
	height: 54px;
}
#navi #navi_bn_gw a:hover {
	background-position: 0 -54px;
}

#main {
	width: 620px;
	padding-right: 20px;
	float: right;
}
#ttl {
	text-align: center;
	padding: 30px 20px 30px 0;
}
#tab li {
	float: left;
	margin-right: 5px;
	position: relative;
}
#tab li.last {
	margin-right: 0;
}
#tab li a {
	color: #000000;
	display: block;
	padding-top: 15px;
	height: 35px;
	text-align: center;
	text-decoration: none;
	background: rgb(255, 255, 255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4OCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTRlNmU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 88%, rgba(228, 230, 232, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(88%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(228, 230, 232, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 88%, rgba(228, 230, 232, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 88%, rgba(228, 230, 232, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 88%, rgba(228, 230, 232, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 88%, rgba(228, 230, 232, 1) 100%);
}
#tab li a:hover {
	color: #cccccc;
}
#tab li.current a {
	background: #ffffff;
	color: #00376e;
	font-weight: bold;
}
#tab li.current span {
	position: absolute;
	bottom: -5px;
	left: 0;
	display: block;
	width: 100%;
	height: 7px;
	background: url(../images/tab_current.gif) no-repeat 50% 0;
}

#footer {
	padding: 5px 0;
	background: #46525e;
	color: #ffffff;
	visibility: hidden;
}
#copyright {
	text-align: center;
	font-size: 10px;
}
#pagetop {
	position: fixed;
	bottom: -1px;
	right: 0;
	z-index: 100;
}
#navi_link {
	display: none;
}

.data {
	display: table;
	margin-bottom: 5px;
}
.data dt,
.data dd {
	display: table-cell;
	padding: 2px 0;
	font-size: 12px;
	vertical-align: middle;
}
.data dt {
	background: #193602;
	color: #ffffff;
	text-align: center;
	width: 50px;
	border-radius: 2px;
}
.data dd {
	padding: 2px 5px;
}

.txtbtn1 a {
	display: inline-block;
	padding: 8px 15px 7px;
	border: 1px solid #eeeeee;
	text-decoration: none;
	color: #000;
	border-radius: 3px;
	font-size: 12px;
	background: rgb(255, 255, 255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(242, 242, 242, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%);
}
.txtbtn1 a:hover {
	background: #fff;
}
.txtbtn1 a span {
	background: url(../images/ico_arrow04.png) no-repeat 100% 3px;
	padding-right: 15px;
}

/* home */
#home #main h1 {
	margin: 85px 0 80px 60px;
	height: 152px;
}
#home #main h1 img {
	display: none;
}
#home #main .info dt {
	margin-bottom: 10px;
}
#home #main .info dd {
	margin-bottom: 10px;
	padding-bottom: 10px;
	background: url(../images/bg_dot01.gif) repeat-x 0 100%;
}
#home #main .info dd p {
	margin-bottom: 10px;
	word-break: break-all;
}
#home #main .info dd p br + br {
	display: none;
}
#home #main .info .fb_more {
}
#home #main .info .fb_more img {
	vertical-align: -3px;
	margin-left: 0.5em;
}

/* about */
.about #tab li {
	width: 203px;
}
.about #tab li.last {
	width: 204px;
}
.about#idx #main p {
	margin-bottom: 10px;
	line-height: 1.8;
}
.about#officer #main table {
	width: 100%;
}
.about#officer #main td:first-child {
	text-align: center;
}
.about#officer #main .tbl1 tr:nth-child(even) {
	background: #f8f8f8;
}
.about#officer #main .tbl1 th,
.about#officer #main .tbl1 td:nth-child(2) {
	white-space: nowrap;
}
.about#officer #main .tbl1 th:last-child,
.about#officer #main .tbl1 td:last-child {
	display: none;
}

/* activies */
.activies #tab li {
	width: 307px;
}
.activies #tab li.last {
	width: 308px;
}
.activies .bn_fb {
	text-align: center;
	padding-top: 40px;
}
.activies#idx section dt {
	color: #00376e;
	background: #fbfbfb url(../images/ico_arrow01.gif) no-repeat 10px 50%;
	padding: 10px 25px 7px;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}
.activies#idx section dt.active,
.activies#idx section dt:hover {
	background-image: url(../images/ico_arrow02.png);
	background-color: #00376e;
	color: #ffffff;
}
.activies#idx section dd {
	padding: 20px 25px;
	line-height: 1.4;
	border: 1px solid #cccccc;
	border-top: none;
}
.activies#idx section dd li {
	margin-bottom: 5px;
}
.activies#idx section dd li ul {
	margin-top: 8px;
	margin-bottom: 8px;
}
.activies#idx section dd li li {
	margin-bottom: 2px;
}
.activies#school #main .tbl1 {
	float: left;
	margin-right: 40px;
}
.activies#school #main .tbl1.last {
	margin-right: 0;
}
.activies#school #main .tbl1 th,
.activies#school #main .tbl1 td {
	padding: 8px 12px;
}
.activies#school #main .tbl1 tr:nth-child(even) th,
.activies#school #main .tbl1 tr:nth-child(even) td {
	background: #f8f8f8;
}

/* emergency */
.emergency #tab li {
	width: 307px;
}
.emergency #tab li.last {
	width: 308px;
}
.emergency h2 {
	font-weight: bold;
	margin-bottom: 5px;
}
.emergency .tbl1 {
	border-top: 1px solid #cccccc;
	font-size: 12px;
}
.emergency .tbl1 caption {
	margin: 0;
	text-align: left;
	padding-top: 10px;
}
.emergency .data dd {
	width: 300px;
}
.emergency .data dd.time {
	float: none;
	clear: both;
	width: 400px;
	padding: 0;
}
.emergency .txtbtn1 {
	margin-top: 40px;
	padding-top: 30px;
	border-top: 1px solid #000;
}

/* members */
.members .pnavi_wrap {
	position: relative;
	height: 100px;
}
.members .pnavi {
	background: #fafafa;
	padding: 10px 15px 0px;
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #e7e7e7;
}
.members .pnavi li {
	display: inline-block;
	padding: 0 5px 10px 0;
}
.members .pnavi li a {
	background: url(../images/ico_arrow01.gif) no-repeat 0 50%;
	padding-left: 15px;
}

.members#idx .pnavi {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 540px;
}
.members#idx .pnavi.fixed {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -150px;
}
.members#idx section .mi1 {
	border-bottom: 1px solid #000000;
	padding-bottom: 10px;
	margin-bottom: 0;
}
.members#idx section ul {
	margin-bottom: 30px;
}
.members#idx section li {
	padding: 10px;
	background: url(../images/bg_dot01.gif) repeat-x 0 100%;
}
.members#idx section li:nth-child(even) {
	background-color: #f8f8f8;
}

.members .name {
	font-weight: bold;
	margin-bottom: 10px;
}
.members .data span {
	display: inline-block;
}

.members#idx .data dd.adr {
	width: 280px;
}
.members#idx .data dd.tel {
	width: 200px;
}
.members#idx .data dd.time {
	width: 85%;
}

.members#detail .data {
	border-collapse: separate;
	border-spacing: 0 5px;
	margin-top: -5px;
}
.members#detail .data th,
.members#detail .data td {
	padding: 2px 0;
	font-size: 12px;
}
.members#detail .data th {
	background: #193602;
	color: #ffffff;
	text-align: center;
	width: 60px;
	border-radius: 2px;
}
.members#detail .data td {
	padding: 2px 5px;
}

.members#detail .mi1 {
	border-bottom: 1px solid #000000;
	padding-bottom: 10px;
}
.members#detail .picture {
	max-width: 200px;
	padding: 10px 0 0 20px;
	float: right;
}
.members#detail .back {
	float: right;
}
.members#detail .back a {
	background: url(../images/ico_arrow03.gif) no-repeat 0 50%;
	padding-left: 20px;
}
.members#detail .pnavi {
	margin-top: 20px;
}
.members#detail .map {
	width: 100%;
	height: 300px;
	border: 1px solid #cccccc;
	margin-top: 20px;
	position: relative;
}
.members#detail .map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}
.members#detail .comment {
	margin-bottom: 15px;
}
.members#detail .nearby {
	margin-top: 20px;
	border: 1px solid #000000;
	padding: 20px;
}
.members#detail .nearby h2 {
	margin-bottom: 10px;
	font-weight: bold;
}
.members#detail .nearby td {
	font-size: 12px;
	padding: 0 10px 5px 0;
}
.members#detail .nearby td.tel {
	white-space: nowrap;
}
.members#detail .note {
	margin-left: 10px;
	font-size: 10px;
}

body.guide {
}
.guide-box + .guide-box {
	margin-top: 30px;
}
.guide-box table {
	width: 100%;
}
.guide-box table + p {
	margin-top: 10px;
}
.guide-soufusaki {
	border: 6px solid #cccccc;
	padding: 20px;
}
.guide-soufusaki p + p {
	margin-top: 1em;
}
.guide-pdf {
	text-align: center;
	margin-top: 1em;
}
.guide-note {
	margin-top: 2em;
	padding: 1.5em 2em;
	border: 1px solid #cccccc;
}
.guide-note h3 {
	margin-bottom: 1em;
}
.guide-note h3 span {
	display: inline-block;
	padding-bottom: 0.4em;
	border-bottom: 1px solid #000;
}
.guide-note h4 {
	margin: 1em 0 0.5em;
}
.guide-note ul {
	margin-left: 3em;
}

@media screen and (max-width: 1024px) {
	body {
		background-size: 68% auto;
	}
}
@media screen and (max-width: 1220px) {
	#bg {
		background-image: url(../images/bg900_1.jpg);
		width: 900px;
	}
}

@media screen and (min-width: 769px) {
	#navi_bn_gw a {
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}
	#navi_bn_gw a br {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.inner {
		background: #ffffff;
		padding: 0;
	}

	body {
		-webkit-text-size-adjust: 100%;
	}
	#bg {
		display: none;
	}
	#wrapper {
		width: auto;
		margin: 0;
		padding: 0;
	}
	#logo {
		background: url(../images/mobile/logo.gif) no-repeat 0px 50%;
		background-size: 200px auto;
		height: 50px;
		margin-bottom: 10px;
		display: block;
		text-indent: -9999px;
	}

	#navi {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		padding: 50px 0 10px;
		background: #eaedf0;
		margin: 0;
		z-index: 9998;
		opacity: 0;
		visibility: hidden;
	}
	#navi #gnavi {
		margin-bottom: 30px;
		border-top: 1px solid #dcdcdc;
	}
	#navi #gnavi li {
		background: -moz-linear-gradient(top, #f1f2f3 0%, #f1f2f3 50%, #eaedf0 50%, #eaedf0);
		background: -webkit-gradient(linear, left top, left bottom, from(#f1f2f3), color-stop(0.5, #f1f2f3), color-stop(0.5, #eaedf0), to(#eaedf0));
	}
	#navi #gnavi a {
		background: url(../images/mobile/ico_arrow01.gif) no-repeat 98% 50%;
		background-size: 16px auto;
		display: block;
		text-indent: 0;
		text-decoration: none;
		padding: 13px 15px;
		border-bottom: 1px solid #dcdcdc;
		margin: 0;
		height: auto;
		font-size: 16px;
	}
	#navi #gnavi span {
		display: none;
	}
	#navi #navi_bn {
		margin: 0 10px;
		display: flex;
		justify-content: center;
	}
	#navi #navi_bn li {
		margin: 0 10px;
	}
	#navi #navi_bn a {
		height: 82px;
		width: 145px;
		background-size: 100% auto;
	}
	#navi #navi_bn_entry a {
		background-image: url(../images/mobile/navi_bn_entry.gif);
	}
	#navi #navi_bn_fb a {
		background-image: url(../images/mobile/navi_bn_fb.gif);
	}

	#navi #navi_bn_gw a {
		width: 310px;
		margin-left: auto;
		margin-right: auto;
		border: 0.99px solid #dcdcdc;
	}
	#navi #navi_bn_gw a {
		background: #fff;
		text-indent: 0;
		box-sizing: border-box;
		padding: 0.8em;
		height: auto;
		color: #000;
		text-decoration: none;
		text-align: center;
	}

	#sns_btn_fb {
		clear: both;
		margin: 0 10px;
		padding-top: 20px;
	}

	#main {
		width: auto;
		padding: 0px 10px 30px;
		float: none;
	}
	#main #ttl {
		display: none;
	}
	#tab {
		margin-bottom: 30px;
	}
	#tab a {
		line-height: 1.2;
	}

	#footer {
		background: #46525e;
		color: #ffffff;
		padding: 10px 0;
		margin: 0;
		visibility: visible;
	}
	#pagetop {
		display: none;
	}
	#navi_link {
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		color: #ffffff;
		padding: 11px 10px;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 100;
		font-size: 11px;
		text-align: center;
		text-decoration: none;
	}

	/* home */
	#home #main h1 {
		display: none;
	}

	/* about */
	.about #tab li {
		width: 32%;
	}
	.about #tab li.last {
		width: 32%;
	}
	.about #tab li a {
		height: 40px;
	}
	/* activies */
	.activies #tab li {
		width: 49%;
	}
	.activies #tab li.last {
		width: 49%;
	}
	.activies .bn_fb {
		display: none;
	}
	.activies#school #main .tbl1 {
		float: none;
		margin: 0 0 20px 0;
		font-size: 14px;
		width: 100%;
	}

	/* emergency */
	.emergency #tab li {
		width: 49%;
	}
	.emergency #tab li.last {
		width: 49%;
	}
	.emergency #main section img {
		display: none;
	}
	.emergency #main section td {
		white-space: nowrap;
	}
	.emergency .data dd {
		width: 66%;
	}

	/* members */
	.members .data dd.time {
		width: 66%;
	}
	.members#idx .pnavi_wrap {
		position: static;
		height: auto;
	}
	.members#idx .pnavi {
		width: auto;
		margin-bottom: 20px;
		position: static;
	}
	.members#detail .pnavi_wrap {
		margin-bottom: 20px;
	}
	.members#detail .data dd {
		width: 66%;
	}
	.members#detail #map_canvas {
		height: 200px;
	}
	.members#detail .nearby td {
		display: block;
		margin-bottom: 0;
		padding: 0;
	}
	.members#detail .nearby td.tel {
		margin-bottom: 10px;
	}
	.members#detail .picture {
		width: 100%;
		padding: 0 0 20px;
		float: none;
	}

	.guide-pdf {
		text-align: left;
	}

	.header-navbtn {
		position: fixed;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		z-index: 9999;
	}
	.header-navbtn .lines {
		display: block;
		width: 30px;
		height: 12px;
		position: relative;
	}
	.header-navbtn .lines::before,
	.header-navbtn .lines::after {
		transition: 0.2s;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #000;
	}
	.header-navbtn .lines::before {
		top: auto;
		bottom: 0;
	}
	.navclose #navi {
		animation: fade-out 0.2s linear 0s forwards;
	}
	.navopen #navi {
		animation: fade-in 0.2s linear 0s forwards;
	}
	.navopen .header-navbtn {
		background-color: #eaedf0;
	}
	.navopen .header-navbtn .lines::before,
	.navopen .header-navbtn .lines::after {
		background-color: #002850;
		top: 50%;
	}
	.navopen .header-navbtn .lines::before {
		transform: rotate(-45deg);
	}
	.navopen .header-navbtn .lines::after {
		transform: rotate(45deg);
	}
}

@keyframes fade-in {
	0% {
		visibility: hidden;
		opacity: 0;
	}

	1% {
		visibility: visible;
		opacity: 0;
	}

	100% {
		visibility: visible;
		opacity: 1;
	}
}
@keyframes fade-out {
	0% {
		opacity: 1;
		visibility: visible;
	}

	99% {
		opacity: 0;
		visibility: visible;
	}

	100% {
		visibility: hidden;
		opacity: 0;
	}
}
