	<div id="footer">
		<a href="#wrapper" id="pagetop"><img src="/common/images/pagetop_default.gif" alt="↑" /></a>
		<p id="copyright">&copy; Yamato Ayase Pharmaceutical Association.</p>
		<!-- <a href="#navi" id="navi_link">MENU</a> -->
	</div>
