<meta property="og:title" content="大和綾瀬薬剤師会">
<meta property="og:description" content="大和綾瀬薬剤師会は、地域住民の信頼に答え、厚生福祉に寄与いたします。">
<meta property="og:type" content="article">
<meta property="og:image" content="//yamatoayase.com/common/images/sns.gif">
<meta property="og:url" content="https://yamatoayase.com/">
<meta property="og:site_name" content="大和綾瀬薬剤師会">
<meta property="og:locale" content="ja_JP">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content="薬剤師,大和,綾瀬" />
<link rel="stylesheet" href="/common/css/layout.css?id=1907" type="text/css" media="all">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
<script src="/common/js/plugins.js"></script>
<script src="/common/js/common.js"></script>
<script src="/common/js/mobile.js"></script>
<!--[if lt IE 9]>
<link rel="stylesheet" href="/common/css/old_ie.css" type="text/css">
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
