<div id="navi">
	<a href="/" id="logo">大和綾瀬薬剤師会</a>
	<ul id="gnavi">
		<li id="gnavi_about">
			<a href="/about/">薬剤師会紹介<span>&nbsp;</span></a>
		</li>
		<li id="gnavi_activities">
			<a href="/activities/">活動内容<span>&nbsp;</span></a>
		</li>
		<li id="gnavi_emergency">
			<a href="/emergency/">救急医療・休日夜間診療<span>&nbsp;</span></a>
		</li>
		<li id="gnavi_members">
			<a href="/members/">会員薬局紹介<span>&nbsp;</span></a>
		</li>
	</ul>
	<!-- <p id="navi_bn_gw"><a href="/common/pdf/2019gw.pdf" target="_blank">2019年ゴールデンウィーク<br>会員保険薬局開局日一覧表（PDF）</a></p> -->
	<ul id="navi_bn">
		<li id="navi_bn_entry"><a href="/guide/">大和綾瀬薬剤師会へご入会はこちら</a></li>
		<li id="navi_bn_fb"><a href="http://www.facebook.com/yamatoayase" target="_blank">Facebookページはこちら</a></li>
	</ul>
	<div id="sns_btn_fb"></div>
</div>
<div class="header-navbtn">
	<div class="header-navbtn-in">
		<span class="lines"></span>
	</div>
</div>
<!--navi-->
